<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>混响</key>
	<array>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>禁用</string>
			<key>textLabelName</key>
			<string>无</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>record_audio_effect_recording_room</string>
			<key>textLabelName</key>
			<string>录音棚</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>record_audio_effect_vocal_concert</string>
			<key>textLabelName</key>
			<string>演唱会</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>record_audio_effect_KTV</string>
			<key>textLabelName</key>
			<string>KTV</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>4</string>
			<key>pictureName</key>
			<string>record_audio_effect_stage</string>
			<key>textLabelName</key>
			<string>小舞台</string>
		</dict>
	</array>
	<key>变声</key>
	<array>
		<dict>
			<key>name</key>
			<string>变声</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>禁用</string>
			<key>textLabelName</key>
			<string>无</string>
		</dict>
		<dict>
			<key>name</key>
			<string>变声</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>record_audio_effect_uncle</string>
			<key>textLabelName</key>
			<string>大叔</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>record_audio_effect_lolita</string>
			<key>textLabelName</key>
			<string>萝莉</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>record_audio_effect_serious</string>
			<key>textLabelName</key>
			<string>庄严</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混响</string>
			<key>selectIndex</key>
			<string>4</string>
			<key>pictureName</key>
			<string>record_audio_effect_robort</string>
			<key>textLabelName</key>
			<string>机器人</string>
		</dict>
	</array>
	<key>背景音乐</key>
	<array>
		<dict>
			<key>name</key>
			<string>背景音乐</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>关闭效果</string>
			<key>textLabelName</key>
			<string>无</string>
		</dict>
		<dict>
			<key>name</key>
			<string>背景音乐</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>CA_hotel</string>
			<key>textLabelName</key>
			<string>CA_hotel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>背景音乐</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>Faded</string>
			<key>textLabelName</key>
			<string>Faded</string>
		</dict>
		<dict>
			<key>name</key>
			<string>背景音乐</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>Immortals</string>
			<key>textLabelName</key>
			<string>Immortals</string>
		</dict>
	</array>
	<key>美颜</key>
	<array>
		<dict>
			<key>name</key>
			<string>美颜</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>ksy_media_edit_record_beauty_origin</string>
			<key>textLabelName</key>
			<string>无</string>
		</dict>
		<dict>
			<key>name</key>
			<string>美颜</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>ksy_media_edit_record_beauty_NaturalFitler_fennen</string>
			<key>textLabelName</key>
			<string>粉嫩</string>
		</dict>
		<dict>
			<key>name</key>
			<string>美颜</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>ksy_media_edit_record_beauty_ExtTilter_ziran</string>
			<key>textLabelName</key>
			<string>自然</string>
		</dict>
		<dict>
			<key>name</key>
			<string>美颜</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>ksy_media_edit_record_beauty_ProFitler_baixi</string>
			<key>textLabelName</key>
			<string>白皙</string>
		</dict>
	</array>
	<key>LOGO</key>
	<array>
		<dict>
			<key>name</key>
			<string>LOGO</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>禁用</string>
			<key>textLabelName</key>
			<string>无</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOGO</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>ksvc</string>
			<key>textLabelName</key>
			<string>静态logo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOGO</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>ksvc1</string>
			<key>textLabelName</key>
			<string>静态logo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOGO</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>elephant</string>
			<key>textLabelName</key>
			<string>动态logo</string>
		</dict>
	</array>
	<key>贴纸</key>
	<array>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>decal_0</string>
			<key>textLabelName</key>
			<string>decal_0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>decal_1</string>
			<key>textLabelName</key>
			<string>decal_1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>decal_2</string>
			<key>textLabelName</key>
			<string>decal_2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>decal_3</string>
			<key>textLabelName</key>
			<string>decal_3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>4</string>
			<key>pictureName</key>
			<string>decal_4</string>
			<key>textLabelName</key>
			<string>decal_4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>5</string>
			<key>pictureName</key>
			<string>decal_5</string>
			<key>textLabelName</key>
			<string>decal_5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>6</string>
			<key>pictureName</key>
			<string>decal_6</string>
			<key>textLabelName</key>
			<string>decal_6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>贴纸</string>
			<key>selectIndex</key>
			<string>7</string>
			<key>pictureName</key>
			<string>decal_7</string>
			<key>textLabelName</key>
			<string>decal_7</string>
		</dict>
	</array>
	<key>滤镜</key>
	<array>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>自然</string>
			<key>textLabelName</key>
			<string>无</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>小清新</string>
			<key>textLabelName</key>
			<string>小清新</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>靓丽</string>
			<key>textLabelName</key>
			<string>靓丽</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>甜美可人</string>
			<key>textLabelName</key>
			<string>甜美可人</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>4</string>
			<key>pictureName</key>
			<string>怀旧</string>
			<key>textLabelName</key>
			<string>怀旧</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>5</string>
			<key>pictureName</key>
			<string>蓝调</string>
			<key>textLabelName</key>
			<string>蓝调</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>6</string>
			<key>pictureName</key>
			<string>老照片</string>
			<key>textLabelName</key>
			<string>老照片</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>樱花</string>
			<key>textLabelName</key>
			<string>樱花</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>8</string>
			<key>pictureName</key>
			<string>樱花(夜)</string>
			<key>textLabelName</key>
			<string>樱花(夜)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>9</string>
			<key>pictureName</key>
			<string>红润(夜)</string>
			<key>textLabelName</key>
			<string>红润(夜)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>10</string>
			<key>pictureName</key>
			<string>阳光(夜)</string>
			<key>textLabelName</key>
			<string>阳光(夜)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>11</string>
			<key>pictureName</key>
			<string>红润</string>
			<key>textLabelName</key>
			<string>红润</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>12</string>
			<key>pictureName</key>
			<string>阳光</string>
			<key>textLabelName</key>
			<string>阳光</string>
		</dict>
		<dict>
			<key>name</key>
			<string>滤镜</string>
			<key>selectIndex</key>
			<string>13</string>
			<key>pictureName</key>
			<string>自然</string>
			<key>textLabelName</key>
			<string>自然</string>
		</dict>
	</array>
	<key>功能</key>
	<array>
		<dict>
			<key>name</key>
			<string>镜像</string>
			<key>selectIndex</key>
			<string>0</string>
			<key>pictureName</key>
			<string>镜像</string>
			<key>textLabelName</key>
			<string>镜像</string>
		</dict>
		<dict>
			<key>name</key>
			<string>静音</string>
			<key>selectIndex</key>
			<string>1</string>
			<key>pictureName</key>
			<string>静音未开</string>
			<key>textLabelName</key>
			<string>静音</string>
		</dict>
		<dict>
			<key>name</key>
			<string>背景音乐</string>
			<key>selectIndex</key>
			<string>2</string>
			<key>pictureName</key>
			<string>背景音乐</string>
			<key>textLabelName</key>
			<string>背景音乐</string>
		</dict>
		<dict>
			<key>name</key>
			<string>音效</string>
			<key>selectIndex</key>
			<string>3</string>
			<key>pictureName</key>
			<string>音效</string>
			<key>textLabelName</key>
			<string>音效</string>
		</dict>
		<dict>
			<key>name</key>
			<string>LOGO</string>
			<key>selectIndex</key>
			<string>4</string>
			<key>pictureName</key>
			<string>LOGO未开</string>
			<key>textLabelName</key>
			<string>LOGO</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拉流地址</string>
			<key>selectIndex</key>
			<string>5</string>
			<key>pictureName</key>
			<string>拉流地址</string>
			<key>textLabelName</key>
			<string>拉流地址</string>
		</dict>
	</array>
</dict>
</plist>
